 /* .carousel-item{
    background-color: #000;
} */
/* 
.carousel-text{
    background-color: #000;
    opacity: 0.6;
    background-size: cover;
} */

.carousel-item1, .carousel-item2, .carousel-item3{
    background-size: auto;
    background-repeat: no-repeat;
    height: 85vh;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
}

.carousel-item1{
    background-image: url("./images/cover/cover-1.png");
}
.carousel-item2{
    background-image: url("./images/cover/cover-2.jpg");
}
.carousel-item3{
    background-image: url("./images/cover/cover-3.jpg");
}


.feedback-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.rating{
    color: orange;
}