



/* Corousel Caption Positioning */
.carousel-caption{
    bottom: 280px;
}


 /* Feed back Image Positioning */
.feedback-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Rating Star Color Change */

.rating{
    color: orange;
}

/* Explore Course Background Color Change */

.explore-course{
    background-color: #F4FAFD;
}



/*In Mobile And Tablet View */
@media screen and (max-width:992px) {
    .hide-course, .hide-company{
        display: none;
    }
    .carousel-caption{
        bottom: 0px;
    }
    
}